<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>{{ project_name }}</title>
</head>
<body style="font-family: sans-serif; text-align: center; margin-top: 100px;">
    <h1>{{ project_name }}</h1>
    <p>Ce serveur s'appelle : <strong>{{ inventory_hostname }}</strong></p>
    <p>Déployé automatiquement par Ansible.</p>
</body>
</html>
